*{
    margin: 0;
}
 html{
    background-color: gold;
}
.button{
    padding: 20px;
    margin: 0 8px;
    border-radius: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: large;
}
.button:hover{
    box-shadow:5px 5px 6px 0 black;
    background-color: white;
    color: black;
    transition: 0.3s;
}
.row{
    margin: 8px 0;
}
.row input{
    margin: 0;
    padding: 14px 57px;
    border-radius: 10px;
    font-size: larger;
    font-weight: bold;
    background-color: black;
    color: white;
}
.about{
    background-color: black;
    padding: 2rem 1rem;
    text-align: center;
    margin-top: 1.5rem;
    border-top-right-radius: 2rem;
    background-size: cover;
    background-repeat: no-repeat;
}
.ah{
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  padding-top: 1rem;
}
.about .content{
    padding: 1rem;
    color: #fff;
    font-size: large;
}